{% extends "base.html" %}

{% block content %}

    <div id="error-message">
        {% for key, error in form.errors.items %}
            {{ error }}
        {% endfor %}
    </div>

    <form method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Wachtwoord</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td>Herhaal wachtwoord</td>
                <td>{{ form.password_repeat }}</td>
            </tr>
        </table>

        <input type="submit" value="Verander wachtwoord">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}