/.idea
*__pycache__*
/build
/dist
/node_modules
/dashboard_meet_je_stad/ids
/dashboard_meet_je_stad/dataset.csv
/dashboard_meet_je_stad/dataset_small.csv

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pipenv/
