/.idea
*__pycache__*
/build
/dist
/node_modules
/dashboard_meet_je_stad/ids
/dashboard_meet_je_stad/dataset_small.csv
/dashboard_meet_je_stad/dataset_small_utrecht.csv
/dashboard_meet_je_stad/utrecht_ids.csv
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pipenv/
