{% extends "base_admin.html" %}

{% load mtime %}

{% block title %}
    Wijs sensor toe
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-4">
                        {{ form.user }}
                    </div>
                    <div class="col-md-4">
                        {{ form.sensor }}
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Wijs toe" class="btn btn-success">
                        {% csrf_token %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% for user in dashboard_users %}
        <div class="row">
            <div class="col">{{ user.get_sensor_id }}</div>
            <div class="col">{{ user.get_user.email }}</div>
        </div>
    {% endfor %}
{% endblock %}
