{% extends "base_admin.html" %}

{% load mtime %}

{% block title %}
    Lees mailchimp sheet
{% endblock %}

{% block content %}
    <div class="col form-errors">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <form action="" method="post" enctype='multipart/form-data'>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.file }}
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Lees in" class="btn btn-success">
                        {% csrf_token %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{ message }}
{% endblock %}
