{% extends 'base.html' %}

{% load json_dumps %}

{% block title %}
    Dashboard Meet Je Stad
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1 form-errors">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-md-11"><h1>Dashboard Meet Je Stad</h1></div>
    </div>
    <div id="sensors" data-sensors="{% json_dumps sensors %}"></div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div id="map" class="map">
                <div id="popup"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <form action="" method="get" id="dashboard-form">
                <div class="row">
                    <div class="col-md-2">{{ form.sensor.label_tag }}</div>
                    <div class="col-md-1">
                        {{ form.sensor }}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3" id="types">
                        {% for type in form.type %}
                            <div class="row">
                                {{ type }}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="curve_chart" class="col col-md-9"></div>
                </div>
                <div class="row">
                    {% for interval in form.interval %}
                        <div class="row">
                            {{ interval }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-2">{{ form.inactive.label_tag }}</div>
                    <div class="col-md-1">
                        {{ form.inactive }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{ form.pm.label_tag }}</div>
                    <div class="col-md-1">
                        {{ form.pm }}
                    </div>
                </div>
                <input type="submit" value="Toon" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock %}
