{% extends 'base.html' %}

{% block title %}
    Nederland Weer
{% endblock %}

{% block content %}
    Deze site maakt analyses van het weer van Nederland. Per weercomponent kan er een grafiek gemaakt worden.
    <div class="container">
        <div class="row justify-content-md-center">
            <div id="error-message">
                {% for key, error in form.errors.items %}
                    {{ error }}
                {% endfor %}
            </div>
            <form action="" method="get" id="dashboard-form">
                <input type="hidden" value="{{ minYear }}" id="minYear">
                <input type="hidden" value="{{ maxYear }}" id="maxYear">
                <input type="hidden" value="{{ title }}" id="graph-title">
                <input type="hidden" value="{{ vertical }}" id="graph-vertical">
                <input type="hidden" value="{{ horizontal }}" id="graph-horizontal">
                <div class="row">
                    <div class="col-md-2">{{ form.station.label_tag }}</div>
                    <div class="col-md-1">
                        {{ form.station }}
                    </div>
                </div>
                <div class="col col-lg-2"><label for="firstYear">Begin jaar: </label>
                    {{ form.begin_year }}</div>
                <div class="col col-lg-2"><label for="lastYear">Eind jaar: </label>
                    {{ form.end_year }}</div>
                <div class="row">
                    <div class="col-md-2">{{ form.component.label_tag }}</div>
                    <div class="col-md-1">
                        {{ form.component }}
                    </div>
                </div>
                <input type="submit" value="Toon" class="btn btn-success">
            </form>
        </div>
        <div class="row">
            <div id="curve_chart" class="col col-lg-3"></div>
        </div>
        <div id="curveData" data-chart="{{ json }}"></div>
        <div id="textOutput">{{ text_output }}</div>
    </div>
{% endblock %}
