{% extends 'base.html' %}

{% load json_dumps %}

{% block title %}
    Dashboard Meet Je Stad
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11"><h1>Dashboard Meet Je Stad</h1></div>
    </div>
    <div id="sensors" data-sensors="{% json_dumps utrecht_rows %}"></div>
    {% for index, sensor in sensors %}
        <div id="sensor-{{ sensor.id }}-timestamps" data-timestamps="{% json_dumps sensor.timestamp %}"></div>
        <div id="sensor-{{ sensor.id }}-longitudes" data-longitudes="{% json_dumps sensor.longitude %}"></div>
        <div id="sensor-{{ sensor.id }}-latitudes" data-latitudes="{% json_dumps sensor.latitude %}"></div>
        <div id="sensor-{{ sensor.id }}-temperatures" data-temperatures="{% json_dumps sensor.temperature %}"></div>
        <div id="sensor-{{ sensor.id }}-humidities" data-humidities="{% json_dumps sensor.humidity %}"></div>
        <div id="sensor-{{ sensor.id }}-pm25s" data-pm25s="{% json_dumps sensor.pm25 %}"></div>
        <div id="sensor-{{ sensor.id }}-pm10s" data-pm10s="{% json_dumps sensor.pm10 %}"></div>
    {% endfor %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div id="map" class="map">
                <div id="popup"></div>
            </div>
        </div>
        <div class="col-md-5">
            <form action="" method="get">
                <div class="row">
                    <div class="col-md-2"><label for="sensor">Sensor</label></div>
                    <div class="col-md-1">
                        <select name="sensor" id="sensor" class="form-select">
                            <option value="">kies sensor</option>
                            {% if inactive == 'on' %}
                                {% for row in utrecht_rows %}
                                    <option value="{{ row.1 }}">{{ row.1 }}</option>
                                {% endfor %}
                            {% else %}
                                {% for index, sensor in sensors %}
                                    <option value="{{ index }}">{{ index }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                {% include "graph.html" %}
                <div class="row">
                    <div class="col-md-2"><label for="pm">Alleen fijnstof</label></div>
                    <div class="col-md-1">
                        {% if pm == 'on' %}
                            <input type="checkbox" name="pm" id="pm" class="form-check" checked>
                        {% else %}
                            <input type="checkbox" name="pm" id="pm" class="form-check">
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label for="inactive">Inactief</label></div>
                    <div class="col-md-1">
                        {% if inactive == 'on' %}
                            <input type="checkbox" name="inactive" id="inactive" class="form-check" checked>
                        {% else %}
                            <input type="checkbox" name="inactive" id="inactive" class="form-check">
                        {% endif %}
                    </div>
                </div>
                <input type="submit" value="Toon" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock %}
