<div class="container">
    <div class="row justify-content-md-center">
        <label>Temperatuur
            <input type="radio" value="temperature" name="type" id="type-temperature" checked>
        </label>
        <label>Luchtvochtigheid
            <input type="radio" value="humidity" name="type" id="type-humidity">
        </label>
        <label>Fijnstof 2.5
            <input type="radio" value="pm25" name="type" id="type-pm25">
        </label>
        <label>Fijnstof 10
            <input type="radio" value="pm10" name="type" id="type-pm10">
        </label>
        <div id="error-message"></div>
        <div id="curve_chart" class="col col-lg-3"></div>
    </div>
</div>
