<div class="row">
    <div class="row">
        <div class="col col-md-6">
            <label for="type-temperature">Temperatuur</label>
        </div>
        <div class="col col-md-6">
            <input type="radio" value="temperature" name="type" id="type-temperature" checked>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <label for="type-humidity">Luchtvochtigheid</label>
        </div>
        <div class="col col-md-6">
            <input type="radio" value="humidity" name="type" id="type-humidity">
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <label for="type-pm25">Fijnstof 2,5 µm</label>
        </div>
        <div class="col col-md-6">
            <input type="radio" value="pm25" name="type" id="type-pm25">
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <label for="type-pm10">Fijnstof 10 µm</label>
        </div>
        <div class="col col-md-6">
            <input type="radio" value="pm10" name="type" id="type-pm10">
        </div>
    </div>
</div>
<div class="row">
    <div id="curve_chart"></div>
</div>
